log
__pycache__
.vscode
src/adapt_envmod
src/adapt_roucomp
src/adapt_behplan
src/adapt_inf
src/adapt_msgs
src/adapt_lanboun
src/adapt_transmitter
src/adapt_spotsl
src/adapt_ui
src/adapt_livtrac
src/adapt_loc
src/adapt_spotupd
src/adapt_obj
src/ros_deep_learning
src/v2x